.page {
    --page-grids: 5;
    display: grid;
    grid-template-columns: repeat(var(--page-grids), 1fr);
    gap: 1rem;
}

@media screen and (max-width: 30rem) {
    .page {
        --page-grids: 2;
    }
}

.page > header {
    grid-column: 1 / end;
    display: flex;
    justify-content: space-between;
}

.page > main {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;

    & > .product-title {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
    }

    & > .product-list {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: subgrid;

        & > * {
            grid-column: span 1;
            text-align: center;
        }
    }
}

