body {
    background-color: var(--color-background-page);
    color: var(--color-text-page);
    font-family: var(--font-family-serif);
}

header {
    background-color: var(--color-background-header);
    color: var(--color-text-header);
    font-family: var(--font-family-sans-serif);
    font-weight: bold;
    font-size: large;
}

a {
    color: var(--color-link);
}

a:visited {
    color: var(--color-link-visited);
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

svg.icon {
    display: inline;
    height: 2em;
    width: 2em;
    vertical-align: top;
    fill: currentColor;
}